spring:
  datasource:
    url: jdbc:mysql://host.docker.internal:3306/crudusers?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: admin
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update

logging:
  file:
    name: /app/logs/app.log
  pattern:
    file: '{"timestamp":"%d{yyyy-MM-dd HH:mm:ss.SSS}","level":"%p","class":"%c","message":"%m"}%n'
  level:
    com.example.rest: INFO